<!-- Header -->
<header class="header-container">
    <nav class="nav-wrap">
        <a href="{{ site.url }}" class="nav-logo">{{ site.title }}</a>
        <ul class="navigation">

            <li><a href="{{ site.url }}/">Articles</a></li>
            <li><a href="{{ site.url }}/list/items">Categories</a></li>
            <li><a href="{{ site.url }}/about">About</a></li>
            <li><a href="//cv.sadra.me/">C.V</a></li>
            <li><a href="https://sadra.me/">فارسی</a></li>

        </ul>
    </nav>
</header>
<!-- /Header -->